<div class="twContainer" style="position:absolute">
  <div class="topBar">
    <div class="circle" style="background-color: #E74C3C"></div>
    <div class="circle" style="background-color: #F1C40F"></div>
    <div class="circle" style="background-color: #2ECC71"></div>
  </div>
</div>