
<div class="container">
    <div class="banner">
        <img src="assets/selfImg.png"/>
        Johnathan Brunelle<br>
        <div style="padding-top:5px;font-size:10px;">(this is my site)</div>
      <div style="margin-top:3px;height:10px; text-align: left;"></div>
        <li>
            <a href="https://github.com/JhnBrunelle/TerminalSite" target="_blank"> > view source </a>
        </li>
        <li>
            <a href="https://github.com/JhnBrunelle/" target="_blank"> > view other projects </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/johnbrunelleece" target="_blank"> > view linkedin </a>
        </li>
        <li>
            <a href="https://github.com/JhnBrunelle/TerminalSite" target="_blank"> > contact </a>
        </li>
    </div>
    <div class="wrapperTW">
      {{outlet}}
    </div>
    <div class="versionNumber">
        jsh v0.03 - Made with Ember.js
    </div>
</div>