{{#if isShowingModal}}
  {{#modal-dialog onClose="toggleModal"
                  hasOverlay=false
                  clickOutsideToClose=true
                  animatable=true}}
    Hello :D
  {{/modal-dialog}}
{{/if}}

<div id="stars"></div>
<div class="container">
    <div class="banner">
        <img src="assets/selfimgmorty.png"/>
        Johnathan Brunelle<br>
        <div style="padding-top:5px;font-size:10px;">(this is my site)</div>
      <div style="margin-top:3px;height:10px; text-align: left;"></div>
        <li>
            <a href="https://github.com/JhnBrunelle/TerminalSite" target="_blank"> > view source </a>
        </li>
        <li>
            <a href="https://github.com/JhnBrunelle/" target="_blank"> > view other projects </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/johnbrunelleece" target="_blank"> > view linkedin </a>
        </li>
        <li>
            <a href="mailto:jhnbrunelle@gmail.com" target="_blank"> > contact </a>
        </li>
    </div>
    <div class="wrapperTW">
      {{!outlet}}
      {{terminal-window toggleModal='toggleModal'}}
    </div>
    <div class="versionNumber">
        jsh v1.12 - Made with Ember.js
    </div>
</div>
