{{this.numberOfLines}}
<div class="topBar"></div>
<div class="terminalWindow">
{{#each commandHistory as |history|}}
    <li>{{history.message}}</li>
{{/each}}
{{input type="text" value=textBuffer insert-newline="inputLineHandler"}}
</div>