
  <div class="topBar">
      <div class="circle" style="background-color: #E74C3C"></div>
      <div class="circle" style="background-color: #F1C40F"></div>
      <div class="circle" style="background-color: #2ECC71"></div>
  </div>

  <div class="terminalWindow">
    {{#each commandHistory as |history|}}
        <li>{{history.message}}</li>
    {{/each}}
    <div class="input">
      <label for="line" style="color:#008DD4;">user@jsh: ~$</label>
      {{input type="text" id="line"value=textBuffer insert-newline="inputLineHandler" maxlength="40" spellcheck="false" autofocus="autofocus"}}
    </div>
  </div>
